Practica1 - IPC2/FormulariosPractica1/FormulariosPractica1/Web References/ReferenciaWeb/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NuevoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dpi" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NuevoClienteResponse">
        <s:complexType />
      </s:element>
      <s:element name="NuevoLibro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="autor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paginas" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tema" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cantidad" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NuevoLibroResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="NuevoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:NuevoCliente" />
  </wsdl:message>
  <wsdl:message name="NuevoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:NuevoClienteResponse" />
  </wsdl:message>
  <wsdl:message name="NuevoLibroSoapIn">
    <wsdl:part name="parameters" element="tns:NuevoLibro" />
  </wsdl:message>
  <wsdl:message name="NuevoLibroSoapOut">
    <wsdl:part name="parameters" element="tns:NuevoLibroResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NuevoCliente">
      <wsdl:input message="tns:NuevoClienteSoapIn" />
      <wsdl:output message="tns:NuevoClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NuevoLibro">
      <wsdl:input message="tns:NuevoLibroSoapIn" />
      <wsdl:output message="tns:NuevoLibroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebSoap" type="tns:ServicioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevoCliente">
      <soap:operation soapAction="http://tempuri.org/NuevoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevoLibro">
      <soap:operation soapAction="http://tempuri.org/NuevoLibro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebSoap12" type="tns:ServicioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevoCliente">
      <soap12:operation soapAction="http://tempuri.org/NuevoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevoLibro">
      <soap12:operation soapAction="http://tempuri.org/NuevoLibro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWeb">
    <wsdl:port name="ServicioWebSoap" binding="tns:ServicioWebSoap">
      <soap:address location="http://localhost:50460/ServicioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebSoap12" binding="tns:ServicioWebSoap12">
      <soap12:address location="http://localhost:50460/ServicioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>